name: Teste com mocha

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Instalar dependências
        run: npm install

      - name: Garantir permissões de execução para Mocha (opcional)
        run: chmod +x ./node_modules/.bin/mocha

      - name: Executar testes com Mocha
        run: npx mocha
